body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.search-bar {
  display: flex;
}

.search-bar input {
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  flex: 1;
  position: relative;
}

.container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.side-panel {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  border-radius: 10px;
}

.side-panel h3 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.price-filter {
  margin-bottom: 10px;
}

#product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.product-card {
  position: relative;
  flex: 0 0 calc(30% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}

.product-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.product-card h3 {
  margin-top: 10px;
}

.rating {
  margin-top: 10px;
}

.wishlist-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  border-color: black;
  color: gray;
  transition: color 0.3s;
}

.wishlist-button:hover {
  border-color: red;
}

.wishlist-button.clicked {
  color: red;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  border-radius: 10px;
  width: 100%;
}
