<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Главная страница</title>
</head>
<body>
  <header class="fixed-header">
    <div class="logo">Логотип</div>
    <div class="search-bar">
      <input type="text" id="search-input" placeholder="Найти товары...">
      <button id="search-button">Поиск</button>
    </div>
    <div class="nav-buttons">
      <button>Избранное</button>
      <button>Личный кабинет</button>
    </div>
  </header>
  <div class="content">
    <div class="container">
      <div class="side-panel">
        <h3>Фильтры</h3>
        <div class="price-filter">
          <label for="min-price">Цена: от</label>
          <input type="number" id="min-price" placeholder="мин">
          <label for="max-price">до</label>
          <input type="number" id="max-price" placeholder="макс">
          <button id="apply-filter">Применить</button>
        </div>
        <select id="sort-by">
          <option value="price-asc">Цена (по возрастанию)</option>
          <option value="price-desc">Цена (по убыванию)</option>
          <option value="popularity">Популярность</option>
          <option value="rating">Рейтинг</option>
        </select>
      </div>
      <main id="product-list">
        <div class="product-card">
          <img src="/images/1.webp" alt="Название товара 1">
          <h3>Мужские наручные часы Casio Vintage A-158WA-1</h3>
          <p class="marketplace">Маркетплэйс: OZON</p>
          <p class="price">Цена: 1890р</p>
          <p class="rating">Рейтинг: 4.8 (574 оценки)</p>
          <span class="wishlist-button">❤</span>
        </div>
        <div class="product-card">
          <img src="/images/2.webp" alt="Название товара 1">
          <h3>Оригинальные часы Vintage A-158WA-1</h3>
          <p class="marketplace">Маркетплэйс: WB</p>
          <p class="price">Цена: 2107р</p>
          <p class="rating">Рейтинг: 4.8 (2204 оценки)</p>
          <span class="wishlist-button">❤</span>
        </div>
        <div class="product-card">
          <img src="/images/3.webp" alt="Название товара 1">
          <h3>Оригинальные часы Collection MTP-VD01D-2E</h3>
          <p class="marketplace">Маркетплэйс: WB</p>
          <p class="price">Цена: 4414р</p>
          <p class="rating">Рейтинг: 4.9 (1151 оценка)</p>
          <span class="wishlist-button">❤</span>
        </div>
        <div class="product-card">
          <img src="/images/4.webp" alt="Название товара 1">
          <h3>Электронные японские часы Casio Illuminator W-218H-1A</h3>
          <p class="marketplace">Маркетплэйс: OZON</p>
          <p class="price">Цена: 2516р</p>
          <p class="rating">Рейтинг: 4.9 (222 отзывов)</p>
          <span class="wishlist-button">❤</span>
        </div>
        <div class="product-card">
          <img src="/images/5.webp" alt="Название товара 1">
          <h3>Оригинальные часы Edifice EFV-620D-1A4</h3>
          <p class="marketplace">Маркетплэйс: WB</p>
          <p class="price">Цена: 12602р</p>
          <p class="rating">Рейтинг: 4.7 (85 оценок)</p>
          <span class="wishlist-button">❤</span>
        </div>
        <div class="product-card">
          <img src="/images/6.webp" alt="Название товара 1">
          <h3>Casio Часы наручные Кварцевые</h3>
          <p class="marketplace">Маркетплэйс: OZON</p>
          <p class="price">Цена: 500р</p>
          <p class="rating">Рейтинг: 0 (0 оценок)</p>
          <span class="wishlist-button">❤</span>
        </div>
        <!-- Остальные карточки товаров -->
      </main>
    </div>
  </div>
  <footer>
    <div class="store-info">
      <h3>Аналитики цен товаров на популярных маркетплейсах</h3>
      <p>Техническая поддержка: ПроектМечты@gmail.com</p>
    </div>
  </footer>
  <script src="/js/script.js"></script>
</body>
</html>
